.signin-container {
  display: flex;
  height: 100vh;
  background-color: #7f56d9;
}

.signin-left-side-con {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 6%;
  border-bottom-right-radius: 6%;
  background-color: white;
  /* background-color: aqua; */
}

.signin-right {
  flex: 1;
  background-color: #7f56d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-header {
  text-align: left;
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signin-text-con {
  /* background-color: rgb(142, 180, 180); */
  width: 50%;
  text-align: left;
}

.sign-main-text {
  color: #7f56d9;
}
.company-logo {
  width: 150px;
  height: 100px;
  /* margin-bottom: 20px; */
}

.sign-up-button {
  width: 80px;
  height: 30px;
  border: 1px solid #5a45aa;
  border-radius: 5px;
  background-color: white;
}

.text-styles {
  color: rgb(165, 165, 161);
}

.signin-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.signin-header p {
  font-size: 14px;
  color: #555;
}

.signin-form {
  width: 50%;
  max-width: 400px;
  margin: 20px 0;
  /* background-color: aqua; */
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.forgot-password {
  color: #7f56d9;
  text-decoration: none;
}

.signin-button {
  width: 100%;
  padding: 10px;
  background-color: #7f56d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #6a4fc9;
}

.sign-in-alter-con {
  display: flex;
  width: 50%;
  border: 1px;
  /* height: 1px; */
  /* background-color: aqua; */
}

.horizontal-lines {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.horizontal-lines::before,
.horizontal-lines::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.horizontal-lines:not(:empty)::before {
  margin-right: 0.25em;
}

.horizontal-lines:not(:empty)::after {
  margin-left: 0.25em;
}

.signin-alt {
  text-align: center;
  width: 50%;
  /* background-color: #6a4fc9; */
}

.signin-alt-btn-con {
  /* background-color: aqua; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 80px; */
}

.signin-alt p {
  margin: 20px 0;
  font-size: 14px;
  color: #555;
}

.social-signin {
  width: 43%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #555;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  margin-top: -10px;
}

.social-logo-styles {
  width: 30px;
  margin-right: 10px;
}

.facebook-logo-styles {
  width: 22px;
  margin-right: 10px;
}

.social-signin:hover {
  background-color: #f1f1f1;
}

.signin-img {
  width: 50%;
  border-radius: 10%;
}

@media (max-width: 768px) {
  .signin-container {
    flex-direction: column;
    background-color: white;
  }

  .input-styles {
    width: 100%;
  }

  .form-options {
    width: 96%;
  }

  .signin-right {
    display: none; 
  }

  .signin-header {
    flex-direction: row;
    align-items: center;
    /* background-color: aqua; */
    /* justify-content: center; */
  }

  .company-logo {
    width: 50%;
    height: 30px;
  }

  .signin-text-con {
    width: 65%;
    /* background-color: red; */
  }

  .signin-form {
    width: 96%;
    /* margin-left: 20px; */
    /* margin-right: 5px; */
    /* background-color: aqua; */
  }

  .form-group input {
    width: 95%;
  }

  .signin-alt,
  .signin-alt-btn-con {
    width: 96%;
    /* background-color: #5a45aa; */
  }

  .social-signin {
    width: 45%;
    margin: 10px 0;
  }

  .signin-img {
    width: 100%;
    border-radius: 5%;
  }
}

@media (max-width: 480px) {
  /* .company-logo {
    width: 100px;
    height: 70px;
  } */

  .company-logo {
    width: 100px;
    height: 40px;
  }

  .input-styles {
    width: 100%;
  }

  .sign-up-button {
    width: 70px;
    height: 25px;
    font-size: 12px;
  }

  .sign-main-text {
    font-size: 18px;
  }

  .text-styles {
    font-size: 12px;
  }

  .form-group input {
    padding: 8px;
  }

  .signin-button {
    padding: 8px;
    width: 100%;
  }

  .social-logo-styles {
    width: 20px;
    margin-right: 8px;
  }

  .facebook-logo-styles {
    width: 18px;
    margin-right: 8px;
  }

  .signin-text-con {
    width: 100%;
    /* background-color: red; */
  }
}
